@font-face {
    font-family: 'khmer_sangam_mnregular';
    src: url('../fonts/khmer_sangam_mn-webfont.woff2') format('woff2'),
    url('../fonts/khmer_sangam_mn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arial_rounded_mt_boldbold';
    src: url('../fonts/arlrdbd-webfont.woff2') format('woff2'),
    url('../fonts/arlrdbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin:0;
    padding:0;
    background: linear-gradient(to right, #ffffff 30%, #C0E9FF 100%);
}

a,
a:hover{
    text-decoration: none;
}

p{
    margin-bottom:0px;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li{
    margin:0;
    padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    padding:0;
}

/******************************************************************************************************************
                                            Start Header
******************************************************************************************************************/

header#Header {
    padding-top: 15px;
}

.logo img {
    height: 120px;
}

.name {
    padding-top: 20px;
    text-align: center;
}

.name h1{
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Nosifer', cursive;
    color: #2CC990;
    text-transform: uppercase;
}

div.name h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    text-shadow: 2px 1px 2px #436d1c;
    letter-spacing: 1px;
    color: #243289;
}

div.email-call {
    text-align: right;
    padding-top: 10px;
}

.email{
    color:#2CC990;
}

.email i.fa{
    font-size: 16px;
    line-height: 30px;
}

.email a{
    color: #101010;
    font-size: 18px;
    padding-left: 7px;
}

.email a:hover{
    color:#45CF9D;
}

.social-menu {
    padding-top: 15px;
}

div.social-menu ul.text-right li{
    display: inline-block;
}

div.social-menu ul.text-right li a{
    color:#4DD1A2;
    font-size:20px;
    padding:5px 10px;
}

div.social-menu ul.text-right li a:hover{
    color:#243386;
}








#Header nav.navbar.navbar-expand-lg.navbar-light {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:20px 15px;
    text-transform: uppercase;
}

#Header nav.navbar.navbar-expand-lg.navbar-light .navbar-nav .nav-link{
    color:#808080;
}

#Header nav.navbar.navbar-expand-lg.navbar-light .navbar-nav .nav-link:hover{
    color:#2cc990;
}





/******************************************************************************************************************
                                            End Header
******************************************************************************************************************/




/******************************************************************************************************************
                                            Start Slider
******************************************************************************************************************/





section#Slider {
    height: auto;
}

.slider-text {
    position: absolute;
    top: 20px;
    right: 60px;
    color: #fff;
}



#Slider .owl-carousel .owl-nav .owl-prev,
#Slider .owl-carousel .owl-nav .owl-next{
    position:absolute;
    top:48%;
    text-transform: uppercase;
    color:#fff;
}

#Slider .owl-carousel .owl-nav .owl-prev{
    left:15px;
}



#Slider .owl-carousel .owl-nav .owl-next{
    right:15px;
}





/******************************************************************************************************************
                                            End Slider
******************************************************************************************************************/





/******************************************************************************************************************
                                            Start Brief
******************************************************************************************************************/





#Brief{
    padding-top:60px;
    overflow: hidden;
}

#Brief h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    color: #2CC990;
    text-transform: uppercase;
    padding-bottom: 30px;
}

#Brief p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size:16px;
    line-height: 25px;
    padding-bottom:35px;
}

#Brief a.more {
    font-size: 18px;
    font-weight: 700;
    color: green;
}





/******************************************************************************************************************
                                            End Brief
******************************************************************************************************************/







/******************************************************************************************************************
                                            Start Divisions
******************************************************************************************************************/




#Divisions div.container.text-center div.row {
    margin-bottom: 40px;
}

#Divisions div.container.text-center h1 {
    padding-bottom: 50px;
    padding-top: 50px;
    color: #399;
    font-size: 35px;
}

.single-division{
    width:100%;
    height:300px;
    border:1px solid #062c33;
}

.single-division h3{
    line-height:300px;
    color:#fff;
    display: none;
    background: rgba(19, 199, 230, 0.44)!important;
}

.single-division:hover{
    cursor:pointer;
    /*background:#333;*/
}

.single-division:hover h3{
    color:#fff;
    display: block;
    background:rgba(51, 51, 51, 0.5);
}

.Dhaka{
    background:url("../images/Divisions/Dhaka-division.jpg") no-repeat;
    background-size:cover;
}

.Chittagong{
    background:url("../images/Divisions/Chittagong_Division.jpg") no-repeat;
    background-size:cover;
}

.Rajshahi{
    background:url("../images/Divisions/rajshahi-division.jpg") no-repeat;
    background-size:cover;
}

.Sylhet{
    background:url("../images/Divisions/Sylhet-division.jpg") no-repeat;
    background-size:cover;
}

.Rangpur{
    background:url("../images/Divisions/Rangpur Division.jpg") no-repeat;
    background-size:cover;
}

.Khulna{
    background:url("../images/Divisions/Khulna.jpg") no-repeat;
    background-size:cover;
}

.Barishal{
    background:url("../images/Divisions/barisal_division.jpg") no-repeat;
    background-size:cover;
}


.Maymonshing{
    background:url("../images/Divisions/Maymonshing-division.jpg") no-repeat;
    background-size:cover;
    background-position:center;
}



/******************************************************************************************************************
                                            End Divisions
******************************************************************************************************************/






/******************************************************************************************************************
                                            Start Gallary
******************************************************************************************************************/
#Gallary{
    padding-bottom:60px;
}

#Gallary div.container div.row{
    padding-top:60px;
}

#Gallary div.container div.row:first-child{
    padding-top:30px;
}

#Gallary div.container div.row h2{
    color: #399;
    font-size: 35px;
    padding-bottom: 40px;
}

.single-image img {
    width: 100%;
    height: 350px;
}

.single-image{
    position:relative;
    overflow: hidden;
}

.single-image-text {
    height: 350px;
    width: 100%;
    position: absolute;
    top: 80%;
    left: 0;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    transition: all .25s ease-in-out;
}

.single-image-text h3{
    padding-bottom: 10px;
    width: 160px;
    margin-left:30px;
}

.single-image-text p{
    display: none;
    font-weight: 100;
    font-size: 20px;
}

.single-image:hover .single-image-text{
    background: rgba(30, 195, 189, 0.5);
    top:0;
    padding-top:50px;
    padding-left:30px;
}

.single-image:hover .single-image-text p{
    display:block;
}

.single-image:hover .single-image-text h3{
    margin-left:0px;
    border-bottom: 4px solid #fff;
}

/******************************************************************************************************************
                                            End Gallary
******************************************************************************************************************/






/******************************************************************************************************************
                                            Start Footer
******************************************************************************************************************/


#Footer{
    background:#333;
    color:#fff;
    padding-top:50px;
}

.footer-top{
    padding-bottom: 30px;
}

.footer-top h3{
    font-size: 25px;
    color: #03C818;
    padding-bottom: 15px;
}

.footer_social_menu{}

.footer_social_menu li{
        margin-top: 8px;
}

.footer_social_menu li a{
        color: #fff;
    font-size: 18px;
}

.footer_social_menu li a i{
    color: #399;
    padding-right: 10px;
}

.footer_social_menu li a:hover{
    color:#399;
}

.footer_social_menu li a:hover i{
    color:#fff;
}

.footer-logo{
    width: 80%;
    height: auto;
    padding-bottom: 30px;
}

.footer-bottom{
    min-height: 60px;
    background:#32383e;
}

.footer-bottom p{
    line-height:60px;
}

.footer-bottom a {
    color: #84ED04;
    font-size: 20px;
    padding-left: 10px;
}

.footer-bottom a:hover{
    color: #399;
}


/******************************************************************************************************************
                                            End Footer
******************************************************************************************************************/






/*************************************************************************************************************************************************************************************************************************************
                                                    Additional Pages
/******************************************************************************************************************
/*****************************************************************************************************************/





/******************************************************************************************************************
                                            Start Services Page
******************************************************************************************************************/

#Services{
    padding:30px 0px 80px;
    font-family: 'khmer_sangam_mnregular';
}

.services-heading{
    padding-bottom: 50px;
}

.services-heading h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.services-heading p{
    font-size: 20px;
    font-weight: 400;
}

.service-boxes{
    
}

.service-boxes .row{
    padding-bottom:60px;
}

.service-boxes a{
    color: #000;
}

.single-service{
    border: 1px solid #399;
    box-sizing: border-box;
    border-radius: 5px;
    transition:all 1s;
}

.single-service:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #399;
}

.single-service img{
    width:100%;
    height:auto;
}

.single-service h3{
    font-size: 30px;
    font-weight: 600;
    padding: 30px 10px 10px;
}

.single-service p{
    font-size: 20px;
    padding: 10px;
}

/******************************************************************************************************************
                                            End Services Page
******************************************************************************************************************/






/******************************************************************************************************************
                                            Start Blog Page
******************************************************************************************************************/

.single-blog-img img {
    width: 100%;
}

/******************************************************************************************************************
                                            End Blog Page
******************************************************************************************************************/






/******************************************************************************************************************
                                            Start Contact Page
******************************************************************************************************************/

#Contact-us{
    padding:40px 0px 60px;
}

#Contact-us h3 {
    font-size: 30px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 35px;
}

#Contact-us textarea#textarea {
    min-height: 210px;
    width: 100%;
}

#Contact-us button.btn.btn-primary {
    margin-top: 20px;
    width: 200px;
    text-transform: uppercase;
    font-weight: 700;
    background: #83EE03;
    border: none;
    outline: none;
}

#Contact-us button.btn.btn-primary:hover{
    background:#399;
    color:#fff;
    cursor:pointer;
}

/******************************************************************************************************************
                                            End Contact Page
******************************************************************************************************************/

